<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wyd.mapper.DeptMapper">
    <select id="getDepartmentById" resultType="wyd.model.Department">
        select
                d.id id,
                d.dept_name deptName
        from tbl_dept d
        where d.id = #{id}
    </select>

    <resultMap id="deptMap" type="wyd.model.Department">
        <id column="did" property="id"></id>
        <result column="deptName" property="deptName"></result>
        <collection property="employeeList" ofType="wyd.model.Employee">
            <id column="id" property="id"></id>
            <result column="last_name" property="lastName"></result>
            <result column="email" property="email"></result>
            <result column="gender" property="gender"></result>
        </collection>
    </resultMap>

    <select id="getDepartmentByIdPlus" resultMap="deptMap">
        SELECT
                e.id id,
                e.last_name last_name,
                e.email email,
                e.gender gender,
                d.id did,
                d.dept_name deptName
        FROM
                tbl_dept d
                LEFT JOIN employee e ON e.d_id = d.id
        WHERE d.id = #{id,jdbcType=VARCHAR}
    </select>


    <resultMap id="deptMapStep" type="wyd.model.Department">
        <id column="did" property="id"></id>
        <result column="deptName" property="deptName"></result>
        <!--
            property 属性
            ofType 集合元素类型
            select 查询语句
            column, “传递多列值”，则需要封装为map
            fetchType, 取值：lazy(延迟)，eager(立即)
        -->
        <collection property="employeeList" ofType="wyd.model.Employee"
                    select="wyd.mapper.EmployeeMapper.getEmpByDeptId"
                    column="{did=did}" fetchType="lazy"></collection>
    </resultMap>

    <select id="getDepartmentByIdStep" resultMap="deptMapStep">
        SELECT
                d.id did,
                d.dept_name deptName
        FROM
                tbl_dept d
        WHERE d.id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>